{% extends "blog/base.html" %}
{% block content %}
    <div class="content">
        <div class="cont w1000">
            <div class="list-item">
                <div class="item">
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>个人简介</legend>
                    </fieldset>
                </div>

                <div class="item">
                    <fieldset class="layui-elem-field">
                    <legend>个人信条</legend>
                    <div class="layui-field-box">
                        行动起来、行动起来、行动起来！
                    </div>
                    </fieldset>
                </div>

                <div class="item">
                    <fieldset class="layui-elem-field">
                    <legend>爱好</legend>
                    <div class="layui-field-box">
                        编程、听歌、逛知乎、旅游、打游戏算不算？
                    </div>
                </fieldset>
                </div>

                <div class="item">
                    <fieldset class="layui-elem-field">
                    <legend>联系方式</legend>
                    <div class="layui-field-box">
                        1429169422@qq.com
                    </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
{% endblock %}