{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static '/css/main.css' %}"/>
    <link href="{% static  '/css/layui.css' %}" rel="stylesheet"/>
    <script src="{% static  'js/layui.js' %}"></script>
    <script src="{% static  'js/post_comment.js'%}"></script>

    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <style type="text/css">
          .jumbotrons
        {
            background: #f8f8f8;
            background-size: cover;
            height:90px
        }
          a{
            text-decoration: none;
        }
        .layui-input{
            height: 30px;
            line-height: 30px\9;
        }
    </style>

</head>
<body>

    <!-- top部分-->
    <div >
        {% block top%}
        <div class="header">

            <div class="nav layui-col-lg-offset1">
                <a href="/blog/" class="active">主页</a>
                <a href="/blog/category/">分类</a>
                <a href="/blog/talkabout/">杂谈</a>
                <a href="/blog/timeline/">时间轴</a>
                <a href="/blog/about/">关于</a>
                <div class="layui-inline">
                    <form class="layui-form" role="search" method="get" id="searchform" action="{% url 'haystack_search' %}">
                        <div class="layui-inline">
                            <input class="layui-input form-control " lay-verify="required" name="q" size="4" id="q" autocomplete="off">
                        </div>
                        <button class="layui-btn layui-btn-primary layui-btn-sm layui-icon" type="submit">&#xe615;</button>
                    </form>
                </div>
            </div>
            <p class="welcome-text">
                <span class="name">不积跬步无以至千里，不积小流无以成江海</span>~
            </p>
            <h1 class="logo">
            <a href="#">
                <span>MYBLOG</span>
                <img src="{% static '/imgs/logo.png' %}">
            </a>
            </h1>
		</div>

        {% endblock %}
    </div>

    <!-- 中间部分-->
    <div >
        {% block content%}

        {% endblock %}
    </div>

    <!-- footer部分-->
    <div id="footer">
        {% block footer %}



        {% endblock %}
    </div>
</body>

</html>


