{% extends "blog/base.html" %}
{% load staticfiles %}
{% block content %}




<div class="layui-container">

  <div class="layui-row">

      <div class="layui-col-md2 layui-col-lg2">
              <div class="content">
                  <div class="cont w1000">
                      <div class="">
                          <div class="">
                              <li ><h5 class="card-title">推荐博文</h5></li>
                              {% for top in top_5 %}
                                    <li class="layui-icon">&#xe66e;<a href="/blog/{{top.id}}" class="card-link text-dark">{{ top.title }}</a></li>
                                    &nbsp
                              {% endfor %}
                          </div>

                          <div>
                              <li ><h5 class="card-title">博文归档</h5></li>
                              {% for archive in archive_list %}



                                             <li class="layui-icon">&#xe62a;
                                                <a class="card-link text-dark" href='{% url 'blog:archive' %}?year={{ archive | slice:":4" }}&month={{ archive | slice:"5:7" }}'>{{ archive }}</a>
                                                </a>
                                            </li>




                                {% endfor %}
                          </div>

                      </div>
                  </div>
              </div>




      </div>

    <div class="layui-col-md10 layui-col-lg10">
    <div class="content">
    <div class="cont w1000">
        <div class="list-item">
        {% if contacts %}
            {% for contact in contacts %}
            <div class="item layui-col-lg-offset2">
                <div class="layui-fluid">
                    <div class="layui-row">
                        <div class="layui-col-xs12 layui-col-sm4 layui-col-md5">
                        <div class="img"><img src="/uploads/{{contact.img.image}}" height="220" width="280" alt=""> {{contact.}}</div>

                    </div>
                        <div class="layui-col-xs12 layui-col-sm8 layui-col-md7">
                            <div class="item-cont">
                                <h3><a class="text-dark" href="/blog/{{contact.id}}" id="easy_title">{{ contact.title }}</a></h3>
                                <h5>分类：{{ contact.category}} , 浏览次数：{{ contact.click_nums}}</h5>
                                {% if contact.content %}
                                    <p>{{ contact.content | striptags | escape | slice:":20"  }}</p>
                                {% endif %}
                                <a href="#" id="easy_title" class="go-icon"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p></p>
            <div class="item layui-col-lg-offset3">
                <h2><img src="#" width="50" height="50">暂时没有相关内容</h2>
            </div>
      {% endif %}
      </div>
    </div>
  </div>
    </div>

  </div>
</div>
{% endblock %}

{% block footer %}
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <style>
        .footer{
            bottom: -20px;
            left: 45%;
            margin-left: -65px; /*要居中的div的宽度的一半*/
        }
    </style>
<div class="footer">

    <div class="pagination">

        {% if contacts.has_previous %}
            <a class="page-link text-dark" href="?page=1">&laquo; 第一页</a>
            <a class="page-link text-dark" href="?page={{ contacts.previous_page_number }}">上一页</a>
        {% endif %}
        <!---
        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>
        --->
        {% for page in contacts.paginator.page_range %}
            <a class="page-link text-dark" href="/blog/?page={{ page }}">{{ page }}</a>
        {% endfor %}

        {% if contacts.has_next %}
            <a class="page-link text-dark" href="?page={{ contacts.next_page_number }}">下一页</a>
            <a class="page-link text-dark" href="?page={{ contacts.paginator.num_pages }}">最后一页 &raquo;</a>
        {% endif %}

    </div>

{% endblock %}

